# Python specific ignores
__pycache__/
*.py[cod]
*$py.class

# Flask specific ignores
instance/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
models/Qwen2-1.5b-it-bioinstruct.Q8_0.gguf
