<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medical Test Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <h1>MedScan</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div>
      <label for="test_type">Select Test Type:</label>
      <select name="test_type" id="test_type" required>
        <option value="">--Please choose an option--</option>
        <option value="xray">X-Ray</option>
        <option value="mri">MRI</option>
        <option value="ct">CT Scan</option>
      </select>
    </div>

    <div class="file-upload-container">
      <label for="file_upload">Upload Image (PNG or JPEG only):</label>
      <input type="file" id="file_upload" name="file_upload" accept="image/png, image/jpeg" required>
    </div>

    <div>
      <button type="submit">Analyze</button>
    </div>

      <div class="logo-container">
      <img src="{{ url_for('static', filename='daily-health-app.png') }}" alt="Medical Logo">
      </div>

  </form>
</body>
</html>
